// _override-skin.scss - Skin Overrides
//
// Purpose: Custom style overrides for Reverb 2.0 skin
// Location: Copy to Formats\WebWorks Reverb 2.0\Pages\sass\_override-skin.scss
//           or Targets\[TargetName]\Pages\sass\_override-skin.scss
//
// Usage:
//   1. Copy this file to your project customization location
//   2. Add @import "_override-skin"; to the END of skin.scss
//   3. Modify variables and styles below
//   4. Rebuild project with AutoMap (or manually with Designer)
//
// Best Practice: Keep ALL skin custom styles in this file for easier maintenance
//
// Modified: 2026-01-31 - Initial custom styles

